{extends file="admin-layout.tpl"}

{block name="no-return-functions"}{$admin_current_location = 'modules'}{/block}

{block name="page-title"}{intl l='Inter exclude categories' d='interexcludecategory.bo.default'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}InterExcludeCategory{/block}

{block name="main-content"}
<div class="alert alert-info">
    {intl l='Here you wan handle categories from which products must not be able to be added to cart together.'}
    <br>
    {intl l='Select 2 categories for which once a product from one of them (or its children categories) is added to cart, trying to add to cart a product from the other category (or its children categories) will display a message asking the user to choose if he wants to cancel adding the current product or to remove products from the other category (or children) in order to add the current product to his cart.'}
</div>

<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12">
            <div class="title title-without-tabs">
                {intl l='Add a new products exclusion between catgories'}
            </div>

            {form name='interexcludecategory_create_form'}
            <form action="{url path='/admin/module/InterExcludeCategory/create'}" method="post" class="row">
                {form_hidden_fields form=$form}

                <div class="col-md-5">
                    {render_form_field form=$form field='first_category_id'}
                </div>
                <div class="col-md-5">
                    {render_form_field form=$form field='second_category_id'}
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">{intl l='Save'}</button>
                </div>
            </form>
            {/form}

            <br>

            <div class="title title-without-tabs">
                {intl l='Existing exclusions'}
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>{intl l='First category'}</th>
                        <th>{intl l='Second category'}</th>
                        <th>{intl l='Action'}</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$interExcludeCategories item=interExcludeCategory}
                        <tr>
                            <td>{$interExcludeCategory->getFirstCategoryId()}</td>
                            <td>{$interExcludeCategory->getSecondCategoryId()}</td>
                            <td>
                                <a class="btn btn-danger js_btn_delete" data-id="{$interExcludeCategory->getId()}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="js_modal_confirm_delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{intl l='Confirm deletion'}</h3>
            </div>

            {form name='interexcludecategory_delete_form'}
            <form action="{url path='/admin/module/InterExcludeCategory/delete'}" method="post">
                {form_hidden_fields form=$form}

                {form_field form=$form field='inter_exclude_category_id'}
                    <input type="hidden" name="{$name}" id="inter_exclude_category_id" value="">
                {/form_field}

                <div id="js_body_modal_confirm_delete" class="modal-body">
                    {intl l='Do you really want to delete the exclusion between those categories?'}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>{intl l='No'}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-check"></span>{intl l='Yes'}
                    </button>
                </div>

            </form>
            {/form}
        </div>
    </div>
</div>
{/block}

{block name="after-javascript-include"}
<script>
    $('.js_btn_delete').click(function() {
        $('#inter_exclude_category_id').val($(this).data('id'));
        $('#js_modal_confirm_delete').modal('show');
    });
</script>
{/block}